/**
 * =================================================================== 
 *
 *  Rafael Menegon Portfolio Styles
 *  url: devrafaelmenegon.github.io
 *  23-01-2022
 *  ------------------------------------------------------------------
 *  :
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons 
 *  07. other components
 *  08. common styles
 *  09. header styles
 *  10. intro
 *  11. about
 *  12. resume
 *  13. portfolio
 *  14. call-to-action section
 *  15. services
 *  16. stats
 *  17. contact
 *  18. footer
 *
 * =================================================================== 
 */

/** 
 * ===================================================================
 * 01. webfonts and iconfonts
 *
 * ------------------------------------------------------------------- 
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/** 
* ===================================================================
* 02. base style overrides
*
* ------------------------------------------------------------------- 
*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

html {
	font-size: 16px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 15px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 14px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 13px;
	}
}

html, body {
	height: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    background-color: #000F21;
}

::-webkit-scrollbar-track {
	background-color: #0D1B2C;
}

::-webkit-scrollbar {
	width: 0.938rem;
	background-color: #000F21;
}

::-webkit-scrollbar-thumb {
	background-color: #000f2179;
}

.root {
    /* width: 988px; */
    margin: 0 auto;
}

span {
    font-size: 1.5rem;
}

h2 {
    color: #FF6565;
    font-size: 2.25rem;
    font-weight: 700;
}

.mobile {
    display: none;
}

#navbar-desktop {
    margin-top: 3.75rem;
}

#navbar-desktop > ul {
    list-style: none;
    display: flex;
}

#navbar-desktop > ul > li {
    font-size: 1.5rem;
    margin-right: 2vw;
    cursor: pointer;
}

#navbar-desktop > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    position: relative;
    padding: 0.313rem 0.625rem;
    color: transparent;
    transition: 0.5s;
}

#navbar-desktop > ul > li > a:before, nav > ul > li > a:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.313rem 0rem;
    color: #ffffff;
    transition: 0.5s;
    transition-delay: 0.2s;
    box-sizing: border-box;
}

#navbar-desktop > ul > li > a:before {
    -webkit-appearance: polygon(0 0, 100% 0, 100% 50%, 0 53%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 53%);
}

#navbar-desktop > ul > li > a:hover:before {
    transform: translate(0, -0.188rem);
}

#navbar-desktop > ul > li > a:after {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

#navbar-desktop > ul > li > a:hover:after {
    transform: translate(0, 0.188rem);
}

/**
 * responsive:
 * navbar
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {
    
}

@media only screen and (max-width:768px) {
    #navbar-desktop {
        display: none;
    }
    
    .mobile {
        display: flex;
    }

    #navbar-mobile-bottom {
        border-radius: 2rem 2rem 0 0;
        z-index: 99;
        display: flex;
        height: 5rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #0D1B2C;
        box-shadow: 0px -6px 15px 3px rgba(0,0,0, 0.1);
    }

    #navbar-mobile-bottom > ul {
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #navbar-mobile-bottom > ul > li {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    #navbar-mobile-bottom > ul > li > span {
        color: #37495F;
    }

    #navbar-mobile-bottom img {
        width: 2.25rem;
        height: 2.25rem;
    }
}

@media only screen and (max-width:480px) {

}

/** 
 * ===================================================================
 * 12. apresentacao
 *
 * ------------------------------------------------------------------- 
 */

#apresentacao {
    margin-top: 7.5rem;
    padding-bottom: 7.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#apresentacao-img {
    vertical-align: center;
}

#apresentacao-img > img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center; 
}

#apresentacao-info {
    margin-top: 3.75rem;
}

#apresentacao-info > span:first-child {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#apresentacao-info > h1 {
    font-size: 3.375rem;
    font-weight: 700;
    line-height: 3rem;
    color: #FF6565;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.page-button {
    width: 14.5rem;
    height: 3.438rem;
    display: block;
    margin-top: 3rem;
    background-color: #FF6565;
    cursor: pointer;
}

.page-button > a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
}

.redes-sociais {
    display: flex;
    margin-top: 2.25rem;
    align-items: center;
}

.redes-sociais > li {
    margin-right: 1rem;
    cursor: pointer;
}

/**
 * responsive:
 * apresentacao
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {
    #apresentacao-info {
        margin-top: 0rem;
    }

    #apresentacao-info > h1 {
        white-space: normal;
    }
}

@media only screen and (max-width:768px) {
    #apresentacao {
        height: calc(100vh - 8rem);
        padding-top: 1rem;
        padding-bottom: 7.5rem;
        grid-template-columns: 1fr;
    }
    
    #apresentacao-img {
        display: none;
    }
}

@media only screen and (max-width:480px) {

}


/** 
 * ===================================================================
 * 12. sobre mim
 *
 * ------------------------------------------------------------------- 
 */

#sobremim {
    background-color: #000B19;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#sobremim-img > img {
    max-width: 90%;
    min-height: 100%;
    object-fit: cover;
    object-position: center; 
}

#sobremim-titulo {
    margin-bottom: 2.5rem;
}

/**
 * responsive:
 * sobre mim
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
    #sobremim {
        grid-template-columns: 1fr;
    }

    #sobremim-img {
        display: none;
    }
}

@media only screen and (max-width:480px) {

}


/** 
 * ===================================================================
 * 12. meus servicos
 *
 * ------------------------------------------------------------------- 
 */

#servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

#servicos > #servicos-cabecalho {
    margin-bottom: 3.75rem;
    text-align: center;
}

#servicos > #servicos-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#servicos-cards > .card {
    display: grid;
    background-color: #0D1B2C;
    padding: 2.5rem 2rem 1.5rem 1.5rem;
}

#servicos-cards > .card > img {
    margin-bottom: 0.5rem;
}

#servicos-cards > .card > span {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

#servicos-cards > .card > p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

/**
 * responsive:
 * meus servicos
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
    #servicos > #servicos-cards {
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    }
}

@media only screen and (max-width:480px) {

}


/** 
 * ===================================================================
 * 12.resumo
 *
 * ------------------------------------------------------------------- 
 */

#resumo {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-color: #000B19;
}

#resumo-cabecalho {
    text-align: center;
    margin-bottom: 7.25rem;
}

.timeline-container:not(:first-child) {
    margin-top: 3.75rem;
}

.timeline-container h3{
    font-weight: 700;
    font-size: 1.5rem;
}

.timeline-titulo {
    margin-left: 30%;
    margin-bottom: 1.5rem;
}

.timeline-titulo > h3{
    color: #FF6565;
}

.timeline-bloco {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr 2fr;
}

.timeline-bloco > .cabecalho {
    text-align: right;
}

.timeline-bloco > .cabecalho > span {
    font-weight: 500;
    font-size: 0.875rem;
    opacity: 80%;
}

.timeline-bloco .linha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-bloco > .linha > .icone {
    width: fit-content;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0.5rem;
}

.timeline-bloco > .linha > .linha-icone {
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    opacity: 80%;
}

.timeline-bloco > .descricao > h3::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #FF6565;
    display: block;
    margin: 1rem 0;
}

.timeline-bloco > .descricao > p {
    font-size: 1.125rem;
}

/**
 * responsive:
 * resumo
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1920px) {

}

@media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {
    .timeline-bloco {
        grid-template-columns: 2fr 2fr 6fr 1fr;
    }
}

@media only screen and (max-width:768px) {
    .timeline-titulo {
        margin-left: 0;
    }

    .timeline-bloco {
        grid-template-columns: 2fr 8fr;
        grid-template-rows: 1fr;
        grid-template-areas: "timeline head"
                             "timeline main";
        gap: 0.625rem;
    }

    .timeline-bloco > .linha {
        grid-area: timeline;
    }

    .timeline-bloco > .cabecalho {
        grid-area: head;
        text-align: left;
    }
    
    .timeline-bloco > .descricao {
        grid-area: main;
    }

    .timeline-bloco > .descricao > p {
        margin-top: 1rem;
    }

    .timeline-bloco > .descricao > h3::after {
        display: none;
    }

    .timeline-bloco > .descricao > h3::before {
        content: '';
        width: 50px;
        height: 3px;
        background-color: #FF6565;
        display: block;
        margin: 1rem 0;
    }
    
    .timeline-bloco > .linha > .icone {
        max-width: 3rem;
        max-height: 3rem;
        background-color: #ffffff;
        border-radius: 100%;
        padding: 0.5rem;
    }

    .timeline-bloco > .linha > .icone > img {
        max-width: 100%;
    }
    
    .timeline-bloco > .linha > .linha-icone {
        height: 100%;
        width: 2px;
        background-color: #ffffff;
        opacity: 80%;
    }
}

@media only screen and (max-width:480px) {

}


/** 
 * ===================================================================
 * 12. portfolio
 *
 * ------------------------------------------------------------------- 
 */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

#portfolio-cabecalho {
    text-align: center;
}

#portfolio-projetos {
    max-width: 100%;
    align-self: center;
    padding: 7.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30.875rem, 1fr));
    grid-auto-rows: auto;
}

#portfolio-projetos > .projeto {
    cursor: pointer;
    overflow: hidden;
}

#portfolio-projetos > .projeto:hover {
   opacity: 75%;
   transition: 0.5s;
}

#portfolio-projetos > .projeto img {
    max-width: 100%;
}

/**
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
    #portfolio-projetos {
        grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    }
    
}

@media only screen and (max-width:480px) {

}


/** 
 * ===================================================================
 * 12. contato
 *
 * ------------------------------------------------------------------- 
 */

#contato {
    background-color: #000B19;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

#contato-cabecalho {
    text-align: center;
}

.contato-container {
    max-width: 100%;
    margin: 0 auto;
}

#contato-info {
    justify-content: center;
    align-self: center;
    padding-top: 7.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 18.75rem));
    gap: 3%;
}

.contato-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contato-card > img {
    max-height: 160px;
    margin-bottom: 1rem;
}

.contato-card > span {
    color: #FF6565;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.contato-card > p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#page-footer {
    padding-top: 0;
    padding-bottom: 3.75rem;
    background-color: #000B19;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#direitos-autorais p {
   font-size: 0.875rem;
   line-height: 1.25rem;
   color: #CFD1D5;
}

#direitos-autorais span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ffffff;
 }

 /**
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- 
 */
 @media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
    #page-footer {
        padding-bottom: 11.75rem;
        background-color: #000B19;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:480px) {

}


/* MEDIA QUERIES -------------*/

@media (max-width: 2560px) {
    .container {
        padding: 0 31.25rem;
    }
}

@media (max-width: 1920px) {
    .container {
        padding: 0 18.75rem;
    }
}

@media (max-width: 1536px) {  
    .container {
        padding: 0 12.5rem;
    }
}

@media (max-width: 1440px) {  
    .container {
        padding: 0 6.25rem;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 3.125rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 3.125rem;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 1.563rem;
    }
}





